$headings-font-family: "M PLUS Rounded 1c", sans-serif;
$font-family-base: "M PLUS Rounded 1c";
$gray-800: #8e6400;
$yellow: #af9860;
$white: #e3d9e1;
$primary: #000;
$gray-100: #9f7e30;
$border-radius: 1rem;
$border-radius-sm: 1.2rem;
$border-radius-lg: 1rem;
